

/* ---- Navigation ---- */

#myNavbar{
float: right;
}

a:hover{
border-bottom: solid white 3px;
margin-top: -5px;
}

.logotop {
	height: 30px;
	width: auto;
	margin-top: 10px;
}

/* ---- Image centrale ---- */

.wideimage{
	background-image: url(../images/hero-image.jpg);
	height: 600px;
	max-width: 100%;
	max-height: 100%;
}

.logomiddle {
	display: block;
	margin: 150px auto;
	width:40%;
}

/* ---- Grey area 1 ---- */

.grey1 {
	text-align: center;
	background-color: #BDBEC0;
}

#service {
	width:200px;
	height:200px;
	text-align: center;
	margin-top: 50px;
}

/* ---- white area 1 ---- */

.colonne {
	padding-left: 50px;
	padding-right: 0px;
	margin-bottom: 40px;
}

.imageaboutuscontainer {
	text-align: center;
}

.imageaboutus {
	max-width: 550px;
}

.aboutustext {
	margin-bottom: 40px;
}

.aboutus {
	margin-top: 50px;
	margin-bottom: 50px;
}

.about {
	margin-bottom: 50px;	
}

/* ---- Grey are 2 ---- */

.grey2 {
	background-color: #BDBEC0;
}

.contacttext {
	padding-top: 35px;
}

#map {
	width:400px;
	height:250px;
	background:green;
	display: inline-block;
	margin: 20px auto 20px auto;
}

/* ---- White Are 2 Contact Form ---- */

.form-area {

}


.form-area
{
    background-color: #FAFAFA;
	padding: 10px 40px 60px;
	border: 1px solid grey;
	margin: 0 auto;
	width: 350px;
	margin-top: 20px;
	}

p{
	font-size: 16px;
}






.red{
    color:red;
    }





/* --------------------------- */


/* col-lg- */
@media (max-width: 2000px) {
body {
	font-size: 1.3em;
}
}


/* col-md- */
@media (max-width: 1199px) {
body {
	font-size: 1.2em;
}
}

/* col-sm- */
@media (max-width: 991px) {
body {
	font-size: 1em;
}
}

/* col-xs- */
@media (max-width: 767px) {
body {
	font-size: 0,9em;
}

}

